@media screen and (max-width: 1200px) {
    #page{
        #view-login {}
    }
}
@media screen and (max-width: 1024px) {
    #page{
        #view-login {
            background-color: #0f0;
            .content-wrapper {
                width: 750px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #page{
        #view-login {
            background-color: #00f;
        }
    }
}